<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">4DX Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team Targets View</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Report
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Monthly</a>
              <a class="dropdown-item" href="#">Yearly</a>
            </div>
          </li>
      </ul>
      <span class="navbar-text">
        Welcome Nathiyah!
        <a class="nav-link" href="#">Logout</a>
      </span>
    </div>
</nav>
<div class="card">
    <h5 class="card-header">This Week Target</h5>
    <div class="card-body"  *ngFor="let targets of targets">
    <h5 class="card-title" contenteditable>{{targets.title}}</h5>
      <p class="card-text"> Description:</p><p class="card-text" contenteditable>{{targets.description}}</p>
      <p class="card-text"> Solution:</p><p class="card-text" contenteditable>{{targets.solution}}</p>
      <p class="card-text">Status: {{targets.status}}</p>
      <p class="card-text">Percentage: {{targets.percent}} %</p>
      <a href="#" class="btn btn-primary" (click)="onUpdate()">Update</a>
      <a href="#" class="btn btn-primary">Comment</a>
    </div>
</div>
<div class="card">
    <h5 class="card-header">History Targets</h5>
    <div class="card-body">
      <h5 class="card-title">Clearing up the hot issue</h5>
      <p class="card-text">Description: Will focusing on clearing the repeated happened in this week.</p>
      <p class="card-text">Solution: Find out the reason causing the issue.</p>
      <p class="card-text">Status: Finish</p>
      <p class="card-text">Percentage: 100 %</p>
      <p class="card-text">Date Created: 9 Dec 2019</p>
      <p class="card-text">Last Updated: 13 Dec 2019</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Clearing up the hot issue</h5>
        <p class="card-text">Description: Will focusing on clearing the repeated happened in this week.</p>
        <p class="card-text">Solution: Find out the reason causing the issue.</p>
        <p class="card-text">Status: Incomplete</p>
        <p class="card-text">Percentage: 70 %</p>
        <p class="card-text">Date Created: 16 Dec 2019</p>
        <p class="card-text">Last Updated: 20 Dec 2019</p>
      </div>
</div>

<footer>
    <a href="#" class="btn btn-primary">Add Target</a>
</footer>
<router-outlet></router-outlet>